<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-04-21T18:16:12Z</date>
	<key>WorkspacePath</key>
	<string>/Users/karin_ono/Documents/of_v0.9.8_osx_release/apps/myApps/kuso/kuso.xcodeproj</string>
</dict>
</plist>
